/* Define custom fonts */

:root{
    box-sizing: border-box;
}
@font-face
{
    font-family: 'BallparkWeiner';
    src: url("imagesfonts/tp_images_fonts/fonts/ballpark.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url("imagesfonts/tp_images_fonts/fonts/dayrom.ttf");
    font-weight: normal;
    font-style: normal;
}
body {
        background: url("imagesfonts/tp_images_fonts/images/yellow_background.png");
        font-family: 'Trebuchet MS', Arial, sans-serif;
        color: #181818;
        
}
#wrapper {
    display: block;
        width: 900px;
        margin: 0 auto;
}
section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}
header{background: url("imagesfonts/tp_images_fonts/images/line.png") repeat-x bottom;}
#main_title
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: 'Dayrom', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
nav{
    display: inline-block;
    width: 900px;
    text-align: right;
}
nav ul{
    list-style-type: none;
}
nav li{display: inline-block;
    margin-right: 15px;}
    nav a
    {
        font-size: 1.3em;
        color: #181818;
        padding-bottom: 3px;
        text-decoration: none;
    }
    
    nav a:hover
    {
        color: #760001;
        border-bottom: 3px solid #760001;
    }
    #image{width: 900px; position: relative; margin-top: 15px; margin-bottom: 25px; border-radius: 5px;
        box-shadow: 0px 4px 4px #1c1a19;
        background: url("imagesfonts/tp_images_fonts/images/sanfrancisco.jpg") no-repeat;
        height: 200px;}
    #description {position:absolute; bottom: 
        0px; border-radius: 0px 0px 5px 5px;
        width: 99.5%;
        height: 33px;
        padding-top: 15px;
        padding-left: 4px;
        background-color: rgb(24,24,24); /* Old browsers will read this */
        background-color: rgba(24,24,24,0.8); /* New browsers will read this */
        color: white;
        font-size: 0.8em;
    vertical-align: top; background-color: rgba(20, 20, 20, 0.4);}
    #description p{display: inline-block; color: white;}
    #red { display: inline-block;
        height: 25px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        background: url("imagesfonts/tp_images_fonts/images/red_background.png") repeat-x;
        border: 1px solid #760001;
        border-radius: 5px;
        font-size: 1.2em;
        text-align: center;
        padding: 3px 8px 0px 8px;
        color: white;
        text-decoration: none;}
        
.red img {
    border: 0;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 625px;
    margin-right: 15px;
}

#cat
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#arrow
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#zozor-picture
{
    text-align: center;
}

#zozor-picture img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}
footer
{
    background:  url("imagesfonts/tp_images_fonts/images/top.png") no-repeat top center, url("imagesfonts/tp_images_fonts/images/line.png") repeat-x top, url("imagesfonts/tp_images_fonts/images/shadow.png") repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet, #my_pictures, #my_friends
{
    display: inline-block;
    vertical-align: top;
}

#tweet
{
    width: 28%;
}
#my_pictures
{
    width: 35%;
}

#my_friends
{
    width: 31%;
}

#my_pictures img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#my_friends ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url("imagesfonts/tp_images_fonts/images/external_link.png");
    padding-left: 2px;
}
#my_friends a
{
    text-decoration: none;
    color: #760001;
}